

<div class="container">
    <div id="content"></div>
    <div>
        <span id="status">Connecting...</span>
        <input id="input" type="text"  autofocus disabled="enabled" />
    </div>
</div>

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascripts/chat.js"></script>
