<head>
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
    <script src=”https://cdn.agora.io/sdk/web/AgoraRTCSDK-2.1.0.js“></script>
</head>



<!-- conference section -->
<div class="container">
    <div class="section" id="render_containner">
        <!--   Icon Section   -->
        <div id="renderer" class="row">
            <!--<div id="renderer" class="center"></div>-->
        </div>
    </div>
    <!-- conference section end -->


    <!-- invite button -->
    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="container center">
                    <!--<a href="/dashboard" class="btn">Get Started</a>-->
                    <input id="displayName" class="col s6" type="text" placeholder="Display Name">
                    <button class="btn col s3 offset-s3" onclick="join()">Connect</button>
                </div>
            </div>
        </div>
    </div>
    <!-- invite button end -->

    {{!-- chat box --}}
    <div class="container">
        <div id="content"></div>
        <div>
            <span id="status">Connecting...</span>
            <input id="input" type="text" autofocus disabled="enable" />
        </div>
        <p>
            <button id="btn-convert-voice" class="btn ">Speak &amp; Convert Your Voice</button>
        </p>
    </div>


<script src="/javascripts/material-init.js"></script>
<script src="/javascripts/dashboard.js"></script>

