<head>
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
</head>






<!-- conference section -->
<div class="container">
    <div class="section" id="render_containner">
        <!--   Icon Section   -->
        <div id="renderer" class="row">
            <!--<div id="renderer" class="center"></div>-->
        </div>
    </div>
    <!-- conference section end -->


    <!-- invite button -->
    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="container center">
                    <!--<a href="/dashboard" class="btn">Get Started</a>-->
                    <input id="displayName" class="col s6" type="text" placeholder="Display Name">
                    <button class="btn col s3 offset-s3" onclick="join()">Connect</button>
                </div>
            </div>
        </div>
    </div>
    <!-- invite button end -->




    <!-- google translate text boxes -->
    <div class="container " id="box">

        <div id="drop2_translate_boxes">
            <select id="convert-from">
                <option value="af">Afrikaans (af)</option>
                <option value="sq">Albanian (sq)</option>
                <option value="am">Amharic (am)</option>
                <option value="ar">Arabic (ar)</option>
                <option value="hy">Armenian (hy)</option>
                <option value="az">Azerbaijani (az)</option>
                <option value="eu">Basque (eu)</option>
                <option value="be">Belarusian (be)</option>
                <option value="bn">Bengali (bn)</option>
                <option value="bs">Bosnian (bs)</option>
                <option value="bg">Bulgarian (bg)</option>
                <option value="ca">Catalan (ca)</option>
                <option value="ceb">Cebuano (ceb)</option>
                <option value="ny">Chichewa (ny)</option>
                <option value="zh">Chinese (Simplified) (zh)</option>
                <option value="zh-TW">Chinese (Traditional) (zh-TW)</option>
                <option value="co">Corsican (co)</option>
                <option value="hr">Croatian (hr)</option>
                <option value="cs">Czech (cs)</option>
                <option value="da">Danish (da)</option>
                <option value="nl">Dutch (nl)</option>
                <option value="en">English (en)</option>
                <option value="eo">Esperanto (eo)</option>
                <option value="et">Estonian (et)</option>
                <option value="tl">Filipino (tl)</option>
                <option value="fi">Finnish (fi)</option>
                <option value="fr">French (fr)</option>
                <option value="fy">Frisian (fy)</option>
                <option value="gl">Galician (gl)</option>
                <option value="ka">Georgian (ka)</option>
                <option value="de">German (de)</option>
                <option value="el">Greek (el)</option>
                <option value="gu">Gujarati (gu)</option>
                <option value="ht">Haitian Creole (ht)</option>
                <option value="ha">Hausa (ha)</option>
                <option value="haw">Hawaiian (haw)</option>
                <option value="iw">Hebrew (iw)</option>
                <option value="hi">Hindi (hi)</option>
                <option value="hmn">Hmong (hmn)</option>
                <option value="hu">Hungarian (hu)</option>
                <option value="is">Icelandic (is)</option>
                <option value="ig">Igbo (ig)</option>
                <option value="id">Indonesian (id)</option>
                <option value="ga">Irish (ga)</option>
                <option value="it">Italian (it)</option>
                <option value="ja">Japanese (ja)</option>
                <option value="jw">Javanese (jw)</option>
                <option value="kn">Kannada (kn)</option>
                <option value="kk">Kazakh (kk)</option>
                <option value="km">Khmer (km)</option>
                <option value="ko">Korean (ko)</option>
                <option value="ku">Kurdish (Kurmanji) (ku)</option>
                <option value="ky">Kyrgyz (ky)</option>
                <option value="lo">Lao (lo)</option>
                <option value="la">Latin (la)</option>
                <option value="lv">Latvian (lv)</option>
                <option value="lt">Lithuanian (lt)</option>
                <option value="lb">Luxembourgish (lb)</option>
                <option value="mk">Macedonian (mk)</option>
                <option value="mg">Malagasy (mg)</option>
                <option value="ms">Malay (ms)</option>
                <option value="ml">Malayalam (ml)</option>
                <option value="mt">Maltese (mt)</option>
                <option value="mi">Maori (mi)</option>
                <option value="mr">Marathi (mr)</option>
                <option value="mn">Mongolian (mn)</option>
                <option value="my">Myanmar (Burmese) (my)</option>
                <option value="ne">Nepali (ne)</option>
                <option value="no">Norwegian (no)</option>
                <option value="ps">Pashto (ps)</option>
                <option value="fa">Persian (fa)</option>
                <option value="pl">Polish (pl)</option>
                <option value="pt">Portuguese (pt)</option>
                <option value="pa">Punjabi (pa)</option>
                <option value="ro">Romanian (ro)</option>
                <option value="ru">Russian (ru)</option>
                <option value="sm">Samoan (sm)</option>
                <option value="gd">Scots Gaelic (gd)</option>
                <option value="sr">Serbian (sr)</option>
                <option value="st">Sesotho (st)</option>
                <option value="sn">Shona (sn)</option>
                <option value="sd">Sindhi (sd)</option>
                <option value="si">Sinhala (si)</option>
                <option value="sk">Slovak (sk)</option>
                <option value="sl">Slovenian (sl)</option>
                <option value="so">Somali (so)</option>
                <option value="es">Spanish (es)</option>
                <option value="su">Sundanese (su)</option>
                <option value="sw">Swahili (sw)</option>
                <option value="sv">Swedish (sv)</option>
                <option value="tg">Tajik (tg)</option>
                <option value="ta">Tamil (ta)</option>
                <option value="te">Telugu (te)</option>
                <option value="th">Thai (th)</option>
                <option value="tr">Turkish (tr)</option>
                <option value="uk">Ukrainian (uk)</option>
                <option value="ur">Urdu (ur)</option>
                <option value="uz">Uzbek (uz)</option>
                <option value="vi">Vietnamese (vi)</option>
                <option value="cy">Welsh (cy)</option>
                <option value="xh">Xhosa (xh)</option>
                <option value="yi">Yiddish (yi)</option>
                <option value="yo">Yoruba (yo)</option>
                <option value="zu">Zulu (zu)</option>
            </select>
            <select id="convert-into">
                <option value="af">Afrikaans (af)</option>
                <option value="sq">Albanian (sq)</option>
                <option value="am">Amharic (am)</option>
                <option value="ar">Arabic (ar)</option>
                <option value="hy">Armenian (hy)</option>
                <option value="az">Azerbaijani (az)</option>
                <option value="eu">Basque (eu)</option>
                <option value="be">Belarusian (be)</option>
                <option value="bn">Bengali (bn)</option>
                <option value="bs">Bosnian (bs)</option>
                <option value="bg">Bulgarian (bg)</option>
                <option value="ca">Catalan (ca)</option>
                <option value="ceb">Cebuano (ceb)</option>
                <option value="ny">Chichewa (ny)</option>
                <option value="zh">Chinese (Simplified) (zh)</option>
                <option value="zh-TW">Chinese (Traditional) (zh-TW)</option>
                <option value="co">Corsican (co)</option>
                <option value="hr">Croatian (hr)</option>
                <option value="cs">Czech (cs)</option>
                <option value="da">Danish (da)</option>
                <option value="nl">Dutch (nl)</option>
                <option value="en">English (en)</option>
                <option value="eo">Esperanto (eo)</option>
                <option value="et">Estonian (et)</option>
                <option value="tl">Filipino (tl)</option>
                <option value="fi">Finnish (fi)</option>
                <option value="fr">French (fr)</option>
                <option value="fy">Frisian (fy)</option>
                <option value="gl">Galician (gl)</option>
                <option value="ka">Georgian (ka)</option>
                <option value="de">German (de)</option>
                <option value="el">Greek (el)</option>
                <option value="gu">Gujarati (gu)</option>
                <option value="ht">Haitian Creole (ht)</option>
                <option value="ha">Hausa (ha)</option>
                <option value="haw">Hawaiian (haw)</option>
                <option value="iw">Hebrew (iw)</option>
                <option value="hi">Hindi (hi)</option>
                <option value="hmn">Hmong (hmn)</option>
                <option value="hu">Hungarian (hu)</option>
                <option value="is">Icelandic (is)</option>
                <option value="ig">Igbo (ig)</option>
                <option value="id">Indonesian (id)</option>
                <option value="ga">Irish (ga)</option>
                <option value="it">Italian (it)</option>
                <option value="ja">Japanese (ja)</option>
                <option value="jw">Javanese (jw)</option>
                <option value="kn">Kannada (kn)</option>
                <option value="kk">Kazakh (kk)</option>
                <option value="km">Khmer (km)</option>
                <option value="ko">Korean (ko)</option>
                <option value="ku">Kurdish (Kurmanji) (ku)</option>
                <option value="ky">Kyrgyz (ky)</option>
                <option value="lo">Lao (lo)</option>
                <option value="la">Latin (la)</option>
                <option value="lv">Latvian (lv)</option>
                <option value="lt">Lithuanian (lt)</option>
                <option value="lb">Luxembourgish (lb)</option>
                <option value="mk">Macedonian (mk)</option>
                <option value="mg">Malagasy (mg)</option>
                <option value="ms">Malay (ms)</option>
                <option value="ml">Malayalam (ml)</option>
                <option value="mt">Maltese (mt)</option>
                <option value="mi">Maori (mi)</option>
                <option value="mr">Marathi (mr)</option>
                <option value="mn">Mongolian (mn)</option>
                <option value="my">Myanmar (Burmese) (my)</option>
                <option value="ne">Nepali (ne)</option>
                <option value="no">Norwegian (no)</option>
                <option value="ps">Pashto (ps)</option>
                <option value="fa">Persian (fa)</option>
                <option value="pl">Polish (pl)</option>
                <option value="pt">Portuguese (pt)</option>
                <option value="pa">Punjabi (pa)</option>
                <option value="ro">Romanian (ro)</option>
                <option value="ru">Russian (ru)</option>
                <option value="sm">Samoan (sm)</option>
                <option value="gd">Scots Gaelic (gd)</option>
                <option value="sr">Serbian (sr)</option>
                <option value="st">Sesotho (st)</option>
                <option value="sn">Shona (sn)</option>
                <option value="sd">Sindhi (sd)</option>
                <option value="si">Sinhala (si)</option>
                <option value="sk">Slovak (sk)</option>
                <option value="sl">Slovenian (sl)</option>
                <option value="so">Somali (so)</option>
                <option value="es">Spanish (es)</option>
                <option value="su">Sundanese (su)</option>
                <option value="sw">Swahili (sw)</option>
                <option value="sv">Swedish (sv)</option>
                <option value="tg">Tajik (tg)</option>
                <option value="ta">Tamil (ta)</option>
                <option value="te">Telugu (te)</option>
                <option value="th">Thai (th)</option>
                <option value="tr">Turkish (tr)</option>
                <option value="uk">Ukrainian (uk)</option>
                <option value="ur">Urdu (ur)</option>
                <option value="uz">Uzbek (uz)</option>
                <option value="vi">Vietnamese (vi)</option>
                <option value="cy">Welsh (cy)</option>
                <option value="xh">Xhosa (xh)</option>
                <option value="yi">Yiddish (yi)</option>
                <option value="yo">Yoruba (yo)</option>
                <option value="zu">Zulu (zu)</option>
            </select>
        </div>


        <div class="section" id="translate_boxes">
            <div type="text" name="voiceIO" class="userIO" id="end_user_voiceInput">
                <textarea id="textarea-from" rows="8"></textarea>
            </div>
            <div type="text" name="voiceIO" class="userIO" id="end_user_voiceTranslate">
                <textarea id="textarea-to" rows="8"></textarea>
            </div>
        </div>

        <p>
            <button id="btn-convert-text" class="btn ">Convert Your Text Input</button>
        </p>
        <p>
            <button id="btn-convert-voice" class="btn ">Speak &amp; Convert Your Voice</button>
        </p>
        <p>
            <span id="saved"></span>
        </p>
    </div>






    {{!-- <!-- Dropdown Trigger -->
    <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li>
            <a href="#!">one</a>
        </li>
        <li>
            <a href="#!">two</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#!">three</a>
        </li>
        <li>
            <a href="#!">
                <i class="material-icons">view_module</i>four</a>
        </li>
        <li>
            <a href="#!">
                <i class="material-icons">cloud</i>five</a>
        </li>
    </ul>
</div> --}}



<script src="/javascripts/material-init.js"></script>
<script src="/javascripts/dashboard.js"></script>