{{!-- <h1 class="center">{{title}}</h1>
<p class="center">Welcome to {{title}}</p> --}}

<h1 class="center">Welcome to {{title}}</h1>


<div class="container center" id="indexBtn">
    <a href="/dashboard" class="btn blue">Get Started</a>
</div>


