{{!-- <h1 class="center">{{title}}</h1>
<p class="center">Welcome to {{title}}</p> --}}

<h1 class="center">Welcome to {{title}}</h1>


<div class="container center" id="indexBtn">
    <a href="/dashboard" class="btn blue darken-3">Get Started</a>
</div>

<div class="container">
    <div id="block_input_user_form" class="function">
        <h2>Save your score</h2>
        <p>name :
            <input type="text" name="input_name" size="10">
        </p>
        <p>game :
            <input type="text" name="input_game" size="10">
        </p>
        <p>score :
            <input type="text" name="input_score" size="10">
        </p>
        <p>
            <a href=# id="submit_score" class="btn blue darken center">Submit score</a>
        </p>
        <p>
            <span id="saved"></span>
        </p>
    </div>
</div>

<script src="/javascripts/index.js"></script>